<div>
  <h3>User Table</h3>
  <table>
    <tr>
      <th>UserID</th>
      <th>Name</th>
      <th>LoginID</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let item of userData">
      <td>{{ item.UserID }}</td>
      <td>{{ item.Name }}</td>
      <td>{{ item.LoginID }}</td>
      <td>{{ item.Email }}</td>
    </tr>
  </table>
</div>

<div>
  <h3>Role Table</h3>
  <table>
    <tr>
      <th>RoleID</th>
      <th>Name</th>
    </tr>
    <tr *ngFor="let item of roleData">
      <td>{{ item.RoleID }}</td>
      <td>{{ item.Name }}</td>
    </tr>
  </table>
</div>

<div>
  <h3>Menu Table</h3>
  <table>
    <tr>
      <th>MenuID</th>
      <th>Name</th>
      <th>Path</th>
      <th>Icon</th>
    </tr>
    <tr *ngFor="let item of menuData">
      <td>{{ item.MenuID }}</td>
      <td>{{ item.Name }}</td>
      <td>{{ item.path }}</td>
      <td>{{ item.Icon }}</td>
    </tr>
  </table>
</div>
